---
name: Fetch and Update Timetables + dbt to calculate delay

on:
    schedule:
        - cron: "*/10 * * * *"  # Run every 10 minutes
    workflow_dispatch:
        inputs:
            logLevel:
                description: 'Log level'     
                required: true
                default: 'warning'
            tags:
                description: 'Test scenario tags' 

jobs:
  ingest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Fetch timetables
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          Client_ID: ${{ secrets.Client_ID }}
          Client_Secret: ${{ secrets.Client_Secret }}
        run: python -m ingestion.fetch_timetables

      - name: Update timetables
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          Client_ID: ${{ secrets.Client_ID }}
          Client_Secret: ${{ secrets.Client_Secret }}
        run: python -m ingestion.update_timetables

      - name: Run dbt full-refresh
        env:
          DBT_HOST: ${{ secrets.DBT_HOST }}
          DBT_USER: ${{ secrets.DBT_USER }}
          DBT_PASSWORD: ${{ secrets.DBT_PASSWORD }}
          DBT_DBNAME: ${{ secrets.DBT_DBNAME }}
        run: |
          dbt run --project-dir calculate_delay --full-refresh
